*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#coin{
    width: 70px;
    height: 70px;
}
.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hamster{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}